nav {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.container{
    width: 1100px;
}

nav a{
    font-size: 16px;
    padding-left: 5px;
}

.row label, .row a{
    color: #ffab40;
}

.itemdata{
    display: none;
}

#viewitemsmodal { width: 60% !important ; height: 65% !important ; }

#search-submit{
    display: none;
}
