nav {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.container{
    width: 1028px;
}

nav a{
    font-size: 16px;
    padding-left: 5px;
}

.row label, .row a{
    color: #ffab40;
}

.itemdata{
    /*display: none;*/
}
.card .modal h4, .card .modal input, .itemIdDisplay{
    color: black;
}
#usersettingsmodal {height: 100% !important ; }
#usersettingsmodal .row{ margin-bottom: 5px !important;}

#search-submit, #update-bucket-submit{
    display: none;
}

.card{
word-wrap: break-word;
}

.bucketsInFor{

}

.card-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.bucketsInFor .col .card{
    min-height: 350px;
    min-width: 340px;
}

.btn-floating{
    position: absolute;
    margin-left: 295px;
    margin-top: -47px;
}


