<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a routerLink="/dashboard" class="brand-logo">Bucket List App >> Dashboard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#usersettingsmodal">Account Settings</a></li>
            <li><a href="javascript:void(0)">|</a></li>
            <li><a (click)="logOutUser()" routerLink="/login"> Log Out</a></li>
        </ul>
    </div>
</nav>
<!-- User Settings Modal -->
<div id="usersettingsmodal" class="modal">
    <div class="modal-content">
        <h5>User Settings</h5>
        <div id="usersettingscontent">
            <form (ngSubmit)="editUser()" #UserForm="ngForm">
                <div class="row">
                    <div class="form-group input-field col s12">
                        <input id="username" type="text" autocomplete="off" [(ngModel)]="username" name="username" class="form-control validate">
                        <label for="username">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <input id="useremail" type="text" autocomplete="off" [(ngModel)]="useremail" name="useremail" class="form-control validate">
                        <label for="useremail">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s4">
                        <input id="useroldpassword" type="password" autocomplete="off" [(ngModel)]="useroldpassword" name="useroldpassword" class="form-control validate">
                        <label for="useroldpassword">Old Password</label>
                    </div>
                    <div class="form-group input-field col s4">
                        <input id="userpassword" type="password" autocomplete="off" [(ngModel)]="userpassword" name="userpassword" class="form-control validate">
                        <label for="userpassword">Password</label>
                    </div>
                    <div class="form-group input-field col s4">
                        <input id="userconfirmpassword" type="password" autocomplete="off" [(ngModel)]="userconfirmpassword" name="userconfirmpassword" class="form-control validate">
                        <label for="userconfirmpassword">Confirm Password</label>
                    </div>
                </div>
                <input type="submit" id="search-submit" name="search-submit">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a routerLink="/dashboard" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        <a routerLink="/dashboard" (click)="editUser()" class="waves-effect waves-green btn-flat">Update Details</a>
    </div>
</div>

<div class="container">

    <div *ngIf="loader" class="progress">
        <div class="indeterminate"></div>
    </div>
    
    <div *ngIf="bucketResponse">

    <div class="row">
        <form (ngSubmit)="newBucket()" #BucketForm="ngForm">
            <div class="form-group input-field col s6">
                <input id="bucket" type="text" autocomplete="off" required [(ngModel)]="bucket" name="bucket" class="form-control validate">
                <label for="bucket">New Bucket List</label>
            </div>
        </form>
        <form (ngSubmit)="searchBuckets()" #searchForm="ngForm">
            <div class="form-group input-field col s5">
                <input id="search" type="text" (keyup)="searchBuckets()" autocomplete="off" [(ngModel)]="search" name="search" class="form-control validate">
                <label for="search">Search Bucket Lists</label>
            </div>
            <div class="form-group input-field col s1 ">
                <input id="limit" type="text" (keyup)="searchBuckets()" autocomplete="off" [(ngModel)]="limit" name="limit" class="form-control validate">
                <label for="limit">Limit</label>
            </div>
            <input type="submit" id="search-submit" name="search-submit">
        </form>
      
    </div>

    <ul class="pagination">
        <li *ngIf="!bucketResponse.pagination.has_prev" class="btn disabled" ><a href="javascript: void(0)"> << back </a></li>
        <li *ngIf="bucketResponse.pagination.has_prev" (click)="getPaginatedBuckets(bucketResponse.pagination.prev_num)" class="btn waves-effect" ><a href="javascript: void(0)"> << back </a></li>
        <li *ngIf="bucketResponse.pagination.has_next" (click)="getPaginatedBuckets(bucketResponse.pagination.next_num)" class="btn waves-effect"><a href="javascript: void(0)"> next >> </a></li>
        <li *ngIf="!bucketResponse.pagination.has_next" class="btn disabled"><a href="javascript: void(0)"> next >> </a></li>
    </ul>

    <div *ngIf="listBucketsLists">
        <div class="row">
            <div *ngFor="let key of keys" class="bucketsInFor">
                <div class="col s4">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{bucketResponse.bucketlists[key].name}}</span><hr />
                            <span>Bucket List ID: </span>
                            <span class = "bId" id = "bucketId{{key}}">{{bucketResponse.bucketlists[key].id}}</span><br />
                            <span>Created: {{bucketResponse.bucketlists[key].date_created}}</span><br />
                            <span>Modified: {{bucketResponse.bucketlists[key].date_modified}}</span><br /><hr />
                            <p><a (click)="setId(key)" href="#newitemmodal"> >> Add item</a></p>
                            <p><a (click)="setId(key);viewItems(key)" routerLink="/dashboard"> >> View items</a></p>
                            <div id = "item{{key}}data" class="itemdata">

                            <!-- View Items Modal -->
                            <div id="viewitemsmodal{{key}}" class="modal">
                                <div class="modal-content">
                                    <h4>View Items</h4>
                                    <div id="viewitemscontent">

                                        <form (ngSubmit)="updateItems()" #ItemsForm="ngForm">
                                            <div *ngFor="let item of bucketResponse.bucketlists[key].items">
                                                <div class="row">
                                                    <div class="form-group input-field col s2 itemIdDisplay">
                                                        Item ID: {{item.id}}
                                                    </div> 
                                                    <div class="form-group input-field col s5">
                                                        <input type="text" (keyup)="updateItems(key,item.id,'name',item.name,$event)" id="item-{{item.id}}" [(ngModel)]="item.name" name="item-{{item.id}}" class="form-control"/>
                                                        <label for="item-{{item.id}}">Item Name</label>
                                                    </div>    
                                                    <div *ngIf="item.done" class="form-group input-field col s2">
                                                        <input type="checkbox" (click)="updateItems(key,item.id,'done',item.done,$event)" id="done-{{item.id}}" [(ngModel)]="item.done" name="done-{{item.id}}" checked="checked" class="form-control">
                                                        <label for="done-{{item.id}}">Done?</label>
                                                    </div>
                                                    <div *ngIf="!item.done" class="form-group input-field col s2">
                                                        <input type="checkbox" (click)="updateItems(key,item.id,'done',item.done,$event)" id="done-{{item.id}}" [(ngModel)]="item.done" name="done-{{item.id}}" class="form-control">
                                                        <label for="done-{{item.id}}">Done?</label>
                                                    </div>
                                                    <div class="form-group input-field col s2">
                                                        <a class="btn waves-effect waves-light blue-grey darken-1" (click)="deleteItems(key,item.id)">Delete</a>
                                                    </div>
                                                </div>    
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a routerLink="/dashboard" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>

                                
                            </div>
                        </div>
                        <div class="card-action">
                            <a (click)="setId(key)" href="#updatebucketlistmodal">Update</a>
                            <a (click)="deleteBucket(key)" href="javascript:void(0)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="pagination">
        <li *ngIf="!bucketResponse.pagination.has_prev" class="btn disabled" ><a href="javascript: void(0)"> << back </a></li>
        <li *ngIf="bucketResponse.pagination.has_prev" (click)="getPaginatedBuckets(bucketResponse.pagination.prev_num)" class="btn waves-effect" ><a href="javascript: void(0)"> << back </a></li>
        <li *ngIf="bucketResponse.pagination.has_next" (click)="getPaginatedBuckets(bucketResponse.pagination.next_num)" class="btn waves-effect"><a href="javascript: void(0)"> next >> </a></li>
        <li *ngIf="!bucketResponse.pagination.has_next" class="btn disabled"><a href="javascript: void(0)"> next >> </a></li>
    </ul>

    </div>

    <!-- New Item Modal -->
    <div id="newitemmodal" class="modal">
        <div class="modal-content">
            <h5>Add Item</h5>
            <div id="newitemcontent">
                <form (ngSubmit)="createItem()" #NewItemForm="ngForm">
                    <div class="form-group input-field col s5">
                        <input id="itemName" type="text" autocomplete="off" required [(ngModel)]="itemName" name="itemName" class="form-control validate">
                        <label for="newItem">New Item Name</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a routerLink="/dashboard" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <!-- Update Bucket list Modal -->
    <div id="updatebucketlistmodal" class="modal">
        <div class="modal-content">
            <h4>Update Bucket List</h4>
            <div id="updatebucketlistcontent">
                <form (ngSubmit)="updateBucket()" #UpdateBucketListForm="ngForm">
                    <div class="form-group input-field col s5">
                        <input id="bucketName" type="text" autocomplete="off" required [(ngModel)]="bucketName" name="bucketName" class="form-control validate">
                        <label for="bucketName">New Bucket List Name</label>
                    </div>
                    <input type="submit" id="update-bucket-submit" name="update-bucket-submit">
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a routerLink="/dashboard" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</div>